#counter{
	backgtound-color:green;
}

.body{
	background-color:red;
}

.body{
	display: none;
}


.emailBox{
	border-bottom-style: solid;
}



















/*div {
	border: 1px solid black;
	min-height: 20px;
	min-width: 20px;
}*/
